# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Tests
.pytest_cache/
playwright-report/
test-results/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Environment variables
.env
.env.*